* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
}





/* hero */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 5%;
    background: linear-gradient(to bottom,hsl(168, 100%, 10%),white);
    min-height: 400px;
    align-items: center;
}

.hero-content {
    position: absolute;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.container-syms{
    position: absolute;
    bottom: -350px;
    display: flex; 
}
.sym h2,.sym p{
    color: white;
}
.sym{ 
    display: flex;
    align-items: stretch;
    padding-top: 10px;
    width: 400px;
    height: 250px;
    background-color: #2c3e50;
    border-radius: 15px;
}
.solusi-container{
    background: linear-gradient(to top, white,white);
    padding-top: 150px;
    width: 100%;
    height: 110vh;
}
.solusi-container h1,
.solusi-container h2,
.edukasi h4{
    text-transform: uppercase;
}
.solusi-container h3,
.solusi-container h2,
.solusi-container h1,
.penjelasan span{
    pointer-events: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.solusi-container span{
    text-align: center;
}

.pengolahan img{
    width: 200px;
    height: 180px;
}
.pengolahan{
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
}

.edukasi{
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background: #cfd8dd;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
.edukasi span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.edukasi img{
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.edukasi p{
    font-size: 15px;
}

.penjelasan{
    margin-top: 100px;
    width: 900px;
    margin: 70px auto;
}
.penjelasan span{
    text-align: center;
}
.clue{
    width: 420px;
    height: 70px;
    background-color: #cfd8dd;
    border-radius: 10px;
    pointer-events: none;
}
.clue1{
    background-color: #2c3e50;
    color: white;
}
.sistem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sistem .clue{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.jelas{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: space-evenly;
    margin-top: 45px;

}
.jelas img{
    width: 100%;
    height: 300px;
}
.sistem2{
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

/* hero close */

.footer {
    background-color: hsl(168, 100%, 10%);
    color: #ddd;
    padding: 15px 100px;
    text-align: center;
}

.footer p {
    font-size: 16px;
}

.footer a {
    text-decoration: none;
    color: #359381;
}

.footer a:hover {
    color: #fff;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.chart-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



@media (min-width:480px){
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 100px;
        z-index: 10;
        margin-bottom: 20px;
    }

    .logo {
        pointer-events: none;
        color: #359381;
        font-size: 26px;
        margin-right: 250px;
    }
    
    .logo img {
        width: 150px;
        height: 150px;
    }
    
    .navigation a {
        text-decoration: none;
        color: #359381;
        padding: 6px 15px;
        font-weight: 600;
        border-radius: 25px;
    }
    
    .navigation a:hover,
    .navigation a.active {
        background: hwb(169 21% 42%);
        color: #fff;
    }
    
    .jumbo {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115vh;
        width: 100%;
        overflow: hidden;
    }
    
    .jumbo #text {
        font-size: 25px;
        position: absolute;
        color: #eff5e0;
        pointer-events: none;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    }
    
    .jumbo #teks {
        font-size: 45px;
        position: absolute;
        color: #e0f5e1;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
        pointer-events: none;
        margin-bottom: 100px;
    }
    
    .jumbo img {
        position: absolute;
        pointer-events: none;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
    .container-syms{
        gap: 10px;
    }
}



.button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}
.button1{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

p {
    color: #6c757d;
    line-height: 1.6;
    margin-bottom: 1rem;
}




/* HALAMAN LAYANAN */

.form-container {
    background-color: #fff;
    border: 2px solid #d2eaff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2b7708;
}

input,
select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4caf50;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a048;
}

/* fitur */
.fitur{
    background: #eab676;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    padding: 10px;
}
.bulat{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
}
.tidur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.tidur p{
    color: black;
    margin-top: 12px;
}
.proses p{
    padding-top: 7px;
    font-size: 13px;
    color: white;
    margin-left: 20px;
}
.proses h4{
    font-size: 20px;
}

.container-proses{
    width: 100%;
    height: 210px;
    color: white;
    background-color: #148518;
    display: flex;
    align-items: center;
    padding:20px 60px;
    border-radius: 0 0 4px 4px;
}

.garis{
    width: 2px;
    height: 50%;
    background-color: white;
}
.proses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tentang */
.container-info{
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
}
.text-section{
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
}
.text-section #j1{
    color: #1c611e;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.text-section li{
    list-style-type: none;
}
.text-section ul li:before{
    content: '✔';
    color: #4caf50;
}

.about-info{
    display: flex;
    gap: 5px;
}
.about-info h5{
    font-size: 15px;
}
.about-info p{
    font-size: 10px;
}
.btn-p-lanjut button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding-bottom: 2px;
    background-color: #2f9e33;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.image-section{
    width: 400px;
    position: relative;
}

.usia-section{
    border: 2px solid rgb(144, 105, 182);
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    bottom: 45px;
    left: -30px;
    width: 150px;
    height: 120px;
}
.usia-section p{
    font-weight: bold;
    color: #222;
}
.usia-section h1{
    color: #1c611e;
}